html, body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS"
}


body{
        background: #01947D;
        background: linear-gradient(135deg, #01947D, #0D3E3E);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
}
.recuadro{
    background-color: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(10px);
    height: 70vh;
    width: 100vh;
    border-radius: 20px;
    color: rgb(221, 255, 184);
}

#headerrec{
    text-align: center;
    background-color: rgba(0, 103, 62, 0.411);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#headerrec h1{
    text-decoration: underline wavy rgb(0, 96, 71);
    margin-top: 8px;
    font-size: 4vh;
    font-family: "Impact";
    font-weight: lighter;
}

#headerrec p{
    font-size: 2vh;
}

span{
    color: rgb(13, 99, 92);
    text-decoration: underline solid rgb(0, 127, 117) 2px;
}