.container {
    background: linear-gradient(to right, #001a25, #00536f, #001a25);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-family: Arial;
    color: white;
    z-index: 2;
    opacity: 1;
    text-align: center;
}

.pez{
    width: 60%;
    animation: ;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}